.navbar-default .navbar-nav > li > a {
    color: #838383;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #b8b8b8;
}

.navbar-nav > li > a {
	font-size: 13px;
}

.search-cart-header .subtitle{
	font-size: 13px;	
}

.menu-icono-buscar {
	font-size: 15px;
}

.menu-icono-carrito {
	font-size: 15px;
}

section {
    padding: 60px 0;
}

.img-catgeneral {
    background-position: center center;
    background-repeat: no-repeat;	
	background-size: cover;		
	height: 280px; 
}

.producto-bloque{
	height: 400px;
}

.parrafo-margen{
	margin-bottom: 5px;
}

::-webkit-input-placeholder {
  color: white;
}

.seccion-productos{
	margin-top: 100px;
}

.clasificacion-img-dimension {
	max-height: 150px;
}

.slider-boton-color{
	background: var(--main-bg-color);
	border-color: var(--main-bg-color);
	color: #fff;  
}

.slider-boton-color:hover{
	border-color: var(--main-bg-color);
	color: var(--main-bg-color);  
}

.producto-boton-color{
	background: #fff;
	border-color: var(--main-bg-color);
	color: var(--main-bg-color);  
	padding: 6px 15px !important;
	font-size: .6875rem !important;
}

.producto-boton-color:hover{
	background: var(--main-bg-color);
	border-color: var(--main-bg-color);
	color: #fff;  
}

.footer-text{
	text-align: justify;
}

.producto-total-alineacion {
	text-align: right;
}
.alert-custom{
	color: #fff;
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
}
.home-slider-titulo{
	font-family: 'Time New Roman';
	font-style: italic;
	font-size: 35px !important;
	font-weight: bold !important;
	letter-spacing: 0px;
	text-transform: capitalize;

}

.home-slider-subtitulo{
	font-size: 14px !important;
	font-weight: bold !important;
	letter-spacing: 0px !important;
	text-transform: unset;
}
